<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetadataBehavior0">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="MetadataBehavior0" name="ServiceMtk_P2_045.Matematika">
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    name="EndpointMex" contract="IMetadataExchange" />
                <endpoint binding="basicHttpBinding" bindingConfiguration=""
                    name="EndpointService" contract="ServiceMtk_P2_045.IMatematika" />
                <host>
                    <baseAddresses>
                        <add baseAddress=" http://localhost:1412" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>